[submodule "thirdParty/segment-anything-2"]
	path = thirdParty/segment-anything-2
	url = https://github.com/facebookresearch/sam2.git
[submodule "thirdParty/ORB_SLAM3"]
	path = thirdParty/ORB_SLAM3
	url = https://github.com/tberriel/ORB_SLAM3
