ovoslam/submodules/segment-anything-langsplat
__pycache__/
*.py[cod]
*.ipynb

data/masks/
data/output/

data/input/ScanNet/
data/input/sam_ckpts/

data/input/weights_predictor/*
!data/input/weights_predictor/hparams.yaml

data/input/Replica/*
!data/input/Replica/semantic_gt/
!data/input/Replica/semantic_gt/*.txt
